/* Notes: Edit this before going live and for tournaments
1. Unhide sign up here on index
2. Unhide next tournament pic/countdown in tournaments
3. change email address on vendor page
4. change email address on volunteer page
5. take off X on volunteer href in tourney 2x
6. take off X on vendor href in tourney 2x
*/

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {

    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: fantasy, serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #777;
    
}

header{
    
    position: fixed;
    top: -1%;
    left: 0px;
    height: 65px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 100px;
    z-index: 1000;
    transition: 0.5s;

}

header:hover{
    
    background-color: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#282e34+0,282e34+100&1+0,0+40,0+60,1+100 */
background: -moz-linear-gradient(left,  rgba(40,46,52,1) 0%, rgba(40,46,52,0) 40%, rgba(40,46,52,0) 60%, rgba(40,46,52,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(40,46,52,1) 0%,rgba(40,46,52,0) 40%,rgba(40,46,52,0) 60%,rgba(40,46,52,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(40,46,52,1) 0%,rgba(40,46,52,0) 40%,rgba(40,46,52,0) 60%,rgba(40,46,52,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282e34', endColorstr='#282e34',GradientType=1 ); /* IE6-9 */

; /* use a gradient here from 282e34 to linen */
    border-radius: 8px; 
    color: #282e34; /* color??????????????????????????????????? */ 
    transition: 0.5s;
    
}

header ul{
    
    position: relative;
    left: -22%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul:hover{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282e34; /* color??????????????????????????????????? */ 
    transition: 0.5s;

}

header #ul2 {
    
    position: relative;
    left: 18%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    
    list-style: none;
    
}

header ul li:hover{
    
    list-style: none;
    filter: invert(100%);
    transition: 0.2s;
    color: #282e34; /* color??????????????????????????????????? */ 
     transition: 0.5s;
    
}

header ul li a{
    
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 5px; 
}

header ul li a:hover{
    
    text-emphasis-color: aqua;
    color: #fff; /* color??????????????????????????????????? */ 
     transition: 0.5s;
    
}

ul li a:hover{
    
   text-decoration: underline;
   color: #282e34; /* color??????????????????????????????????? */ 
     transition: 0.5s;

}

a{
    
    color: blue;
    text-decoration: none;
}

.news-box-1 a:hover{
    
    text-transform: uppercase;
    text-decoration: underline;
}



#xtop-logo:hover{
    
    display: inline-block;
    position: absolute;
    top: -1%;
    left: 38.1%;
    z-index: 3;
    
     background-color: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#282e34+0,282e34+100&0+59,0+59,0.65+94 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(40,46,52,0) 0%, rgba(40,46,52,0) 59%, rgba(40,46,52,0.65) 94%, rgba(40,46,52,0.65) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(40,46,52,0) 0%,rgba(40,46,52,0) 59%,rgba(40,46,52,0.65) 94%,rgba(40,46,52,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(40,46,52,0) 0%,rgba(40,46,52,0) 59%,rgba(40,46,52,0.65) 94%,rgba(40,46,52,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00282e34', endColorstr='#a6282e34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


;
     border-radius: 100%;
     transition: 0.5s;
     
   
}


.top-logo {
    position: fixed;
    top: 10%;
    left: 44.5%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.top-logo:hover {
    
    position: fixed;
    top: 10%;
    left: 44.5%;
    z-index: 5;
    border-radius: 100%;
    transition: 0.5s;
}

.img-area {
    
    position: relative;
    height: 175px;
    width: 200px;
}

.img-area img.back {
    opacity: 0;
}

.img-area img {
    position: absolute;
    left: 38.1%;
    height: 175px;
    width: 200px;
    transition: opacity 1s ease-in-out;
}

.img-area img.front:hover {
    opacity: 0;
    cursor: pointer;
}
.img-area img.back:hover {
    opacity: 100;
    cursor: pointer;
}
.socials li{
    
    display: inline-block;
    justify-content: space-between;
    position: relative;
    margin: 0 -9px;
    top: 4px;
    right: -220px;
                   
}


#youtube img{
    
    height: 34.5px;
    width: 44.5px;
    margin: 0px 4px 0px 0px;
        
}

#ig img{
    
    height: 34.5px;
    width: 44.5px;
    margin: 0px 4px 0px 0px;
    
}

#twitter img{
    
    height: 37.5px;
    width: 45.5px;
    margin: 0px 4px 0px 0px;
}

#discord img{
    
    height: 37.5px;
    width: 41.5px;
    margin: 0px 4px 0px 0px;
   
}

#tiktok img{
    
    height: 29.5px;
    width: 29.5px;
    margin: 0px 4px 0px 0px;
                
}

#twitch img{
    
    height: 41.5px;
    width: 51.5px;
             
}


#most-recent-text{
    
    font-size: 18px;
    color: burlywood;
    letter-spacing: 7px;
    position: relative;
    top: 300px;
  
}

.most-recent-tournament{
    
    position: relative;
    width: 560px;
    height: 315px;
    font-size: 18px;
    color: burlywood;
    top: 300px;
    left: 31%;
    
}    
    .most-recent-tournament iframe {
        
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    }

.pimg1, .pimg2, .pimg3, .pimg4{
    
    position: relative;
    /*opacity: 0.70;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    /*
    fixed = parrallax
    scroll = normal
    */
    
    background-attachment: fixed;
}

.pimg1{
    
    background-image: url('bg5.png');
    min-height: 100%;
}

.pimg2{
    
    background-image: url('2ndbg.png');
    min-height: 400px;
}

.pimg3{
    
    background-image: url('3rddbg.png');
    min-height: 400px;
}

.pimg4{
    
    background-image: url('4THBG.png');
    min-height: 100%;
}

.section{
    
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    
    background-color: whitesmoke;
    color: #1c1a18;
    
}

.section-dark{
    
    background-color: #282e34;
    color: #ddd;
    letter-spacing: 4px;
}

.ptext{
    
    position: absolute;
    top 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.first-border{
    
    background-color: #111;
    color: #fff;
    padding: 20px;
    position: relative;
    top: 250px;
}

.ptext .border{
    
    background-color: #111;
    color: #fff;
    padding: 20px;
    position: relative;
    
}


/*------MOBILE MAIN PAGE-------*/

@media(max-width:568px){
    
    header{
    
    position: fixed;
    top: -1%;
    left: 40px;
    height: 65px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 100px;
    z-index: 1000;
        
    }
    
    .top-logo {
    position: fixed;
    left: 40.5%;
    top: 12.5%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
    
    .top-logo:hover {
    
    display: none;
}
    
    .top-logo img{
        
    width: 200px;
    height: 170px;
    top: -35%;
    left: -200px
}
    
    .top-logo img .front {
    display: none;
}  
    .most-recent-tournament {
    
    position: relative;
    top: 300px;
    padding-top: 56.25%;
    
}
    
    .most-recent-tournament iframe {
        
    position: absolute;
    top: 0;
    left: -113.5px;
    width: 67%;
    height: 100%;
    
    }
    
    .merch-content {
    display: inline-block;
    position: relative;
    left: -50px;
}
    
    .socials {
    
    position: fixed;
    bottom: 1.2%;
    left: -265px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
    
    .pimg1, .pimg2, .pimg3, .pimg4 {
        background-attachment: scroll;
    }
    
    .first-border {
        font-size: 18px;
    }
    
    .sponsor-box{
    
    display: inline-block;
    position: relative;
    color: #333;
    height 250px;
    width: 100%;
    top: -100px;
    left: -300px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 2px 2px 4px 2px rgba(3, 3, 3);
}
}


/*-------END MOBILE MAIN------*/



.news-box-1{
    
    display: inline-block;
    position: relative;
    font-family: monospace;
    height 250px;
    width: 100%;
    max-width: 535px;
    padding: 32px 24px 32px 16px;
    border-radius: 14px;
    box-shadow: 2px 2px 4px 2px rgba(252, 138, 4);
}


.merch-box{
    
    display: inline-block;
    position: relative;
    width: 100%;
    left: 0px;
    max-width: 535px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 14px;
        
} 


#see-more {
    
    margin: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .4s;
          
} 

.merch-content:hover{
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.17),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

#see-more:hover{
    
   transform: translate(0px, -8px);
    text-decoration: underline;
   
}

.merch-box img {
    
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.buy-1 {
    /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+50,ba2737+51,f18e99+100;Red+Gloss+%233 */
background: rgb(239,197,202); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */



    
    text-align: center;
    font-size: 24px;
    color: white;
    width: 50%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
}

.buy-1:hover{
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.17),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.buy-2 {
    /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
background: rgb(254,204,177); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */


    
    text-align: center;
    font-size: 24px;
    color: white;
    width: 50%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
    
}

.buy-2:hover{
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.17),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.slider{
    
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    
    display: flex;
    width: calc(250px * 16);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    
    animation-play-state: paused;
}

@keyframes scroll {
    
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 8));
    }
}

.slide{
    
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide-track img{
    
    width: 100%;
    transition: transform 1%;
}

img:hover {
    
    transform: translateZ(20px);
        
}

.slider::before,
.slider::after{
    
    background: linear-gradient(to right. rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content:  '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    
    left: 0;
    top: 0;
}

.slider::after{
    
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.sponsor-box{
    
    display: inline-block;
    position: relative;
    color: #333;
    height 250px;
    width: 100%;
    max-width: 535px;
    background-color: #fff;
    margin: 300px;
    padding: 32px 24px 32px 16px;
    border-radius: 14px;
    box-shadow: 2px 2px 4px 2px rgba(3, 3, 3);
}




/*-------------Tourney Page----------*/



#tourney-1st-bg {
    
    background-image: url('tourney2.jpg');
    min-height: 100%;
}

#next-tournament {
    
    position: relative;
    top: 250px;
    
}

#tourney-2nd-bg {
    
    background-color: #0144a7;
    min-height: 100%;
    
        
}

#recent-tournaments-text {
    
    position: relative;
    color: white;
    top: 75px;
    text-align: center;
    letter-spacing: 4px;
    
}

.video-container-1 {
    
    display: flex;
    position: relative;
    width: 100%;
    padding: 100px 30px 0px 100px;
    margin: 15px;
    right: 50px;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
          
}

.videos {
    
    margin: 25px;
    
}

.videos p {
    
    color: white;
}


.hex-contain {
    
    display: grid;
    grid-column-gap: 2.3vw;
    grid-row-gap: 7vw;
    grid-template-columns: 5, 7vw;
    grid-auto-rows: 7vw;
    grid-template-areas:  "g1 . g2 . g3 . g4 . g5";
    justify-content: space-evenly;
}

.clip {
    
    position: relative;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: scale(2.5);
    transition: 0.3s;
}

.hex1 {
    
    grid-area: g1;
}

.hex2 {
    
    grid-area: g2;
}

.hex3 {
    
    grid-area: g3;
}

.hex4 {
    
    grid-area: g4;
}

.hex5 {
    
    grid-area: g5;
}

.clip:hover {
    z-index: 1;
    transform: scale(3.0);
    box-shadow: 500px 500px 500px 500px #000;
}

#gray-extender {
    
    background-color: #282e34;
    color: #ddd;
    letter-spacing: 4px;
    padding: 0px 0px 150px 0px;
}

#gray-extender h4 {
    
    display: inline-block;
    position: relative;
    left: 45.5%;

}

.join-us {
    
    position: relative;
    display: flex;
    justify-content: center;
    padding: 25px;
}


.join-us-buttons {
    
    position: relative;
    display: flex;
    justify-content: space-evenly;
       
}

.volunteer {
    
      
    display: flex;
    position: relative;
    border-radius: 14px;
    margin: 0px 250px 0px 250px;
        
}

.volunteer:hover {
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.17),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.volunteer-button {
    
        /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
background: rgb(183,222,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */

    
    
    text-align: center;
    font-size: 24px;
    color: white;
    height: 10%;
    width: 10%;
    padding: 15px 10px 15px 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
}

.vendor {
    
      
    display: flex;
    position: relative;
    border-radius: 14px;
    margin: 0px 250px 0px 250px;
   
}

.vendor:hover {
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.17),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.vendor-button {
    
        /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
background: rgb(254,204,177); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */

    

    text-align: center;
    font-size: 24px;
    color: white;
    height: 10%;
    width: 10%;
    padding: 15px 10px 15px 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
}


#tourney-3rd-bg {
    
    background-color: #151b24;
    min-height: 65%;
    
        
}




/*----------TOURNEY MOBILE---------*/

@media (max-width: 568px) {
    
    #tourney-2nd-bg {
    
    background-color: #0144a7;
    min-height: 210%;
    
        
}
    
    .video-container-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 105%;
    left: -12%;
    }
    
    .hex-contain {
    
    display: grid;
    grid-column-gap: 2.3vw;
    grid-row-gap: 7vw;
    grid-template-columns: 5, 7vw;
    grid-auto-rows: 7vw;
    grid-template-areas:  "g1 . g2 . g3 . g4 . g5";
    justify-content: space-between;
}
    
    .clip {
    
    position: relative;
    background-color: #ccc;
    width: 150%;
    height: 150%;
    left: -10px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: scale(3.5);
    transition: 0.3s;
}
    
.hex1 {
    
    grid-area: g1;
}

.hex2 {
    
    grid-area: g2;
}

.hex3 {
    
    grid-area: g3;
}

.hex4 {
    
    grid-area: g4;
}

.hex5 {
    
    grid-area: g5;
}
    
    #gray-extender {
    
    position: relative; 
    background-color: #282e34;
    color: #ddd;
    letter-spacing: 4px;
    padding: 0px 0px 150px 0px;
}
    
    #gray-extender h4 {
    
    display: inline-block;
    position: relative;
    left: 5%;

}
    
   .join-us {
    
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px;
}


.join-us-buttons {
    
    position: relative;
    display: inline-block;
    
}

.volunteer {
    
      
    display: flex;
    position: relative;
    border-radius: 14px;
    left: 200px;
} 
    
    .vendor {    
      
    display: flex;
    position: relative;
    border-radius: 14px;
    left: -200px;
} 
    
    .volunteer-button {
    
        /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
background: rgb(183,222,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */

    
    
    display: flex;
    position: relative;
    left: 25px;
    top: 2px;
    text-align: center;
    font-size: 24px;
    color: white;
    height: 10%;
    width: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
}
    
    
.vendor-button {
    
        /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
background: rgb(254,204,177); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */

    

    display: flex;
    position: relative;
    left: 265px;
    top: -60px;
    text-align: center;
    font-size: 24px;
    color: white;
    height: 10%;
    width: 80%;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
}

    #tourney-3rd-bg .border {
        
       position: absolute;
       width: 99.9%;
       left: 0px;
       font-size: 22px;
    }
    
    .sponsor-box{
    
    display: inline-block;
    position: relative;
    color: #333;
    height 250px;
    width: 99%;
    max-width: 535px;
    background-color: #fff;
    margin: 300px;
    padding: 32px 24px 32px 16px;
    border-radius: 14px;
    box-shadow: 2px 2px 4px 2px rgba(3, 3, 3);
}
    
}




/*--------END MOBILE TOURNEY--------*/



/*-------------ABOUT PAGE-----------*/



#about-back {
    
    background-image: url('tempbg.png');
    background-repeat: repeat;
    min-height: 100%;
}

#about-2nd-bg {
    
    background-color: #FAD4AA;
    min-height: 100%;
}

.about-container {
    
    margin: 0px auto;
    width: 50%;
    padding: 8px;
}

.about-container img {
    
    float: left;
    padding: 0 10px 0 0;
}


.p-about {
    
    font-family: monospace;
    color: #000;
    text-align: justify;
    /*text-shadow: 5px;   <-- MAYBE!!   */
               
}

.about-box{
    
    display: inline-block;
    position: relative;
    color: #333;
    height 250px;
    width: 100%;
    max-width: 1500px;
    background-color: #FAD4AA;
    margin: 50px 0px;
    padding: 0px;
    border-radius: 14px;
    box-shadow: 2px 2px 4px 2px rgba(3, 3, 3);
}

.about-box ul {
    
    list-style-type: none;
    font-family: monospace;
    
}

.about-box a {
    
    text-decoration: none;
    color: black;
    text-decoration: underline;
    
}






/*------------ABOUT MOBILE--------------*/






@media (max-width: 568px) {
    
    
    #about-back {
    
        background-image: url('tempbg2.png');
        background-repeat: repeat;
        min-height: 100%;
        left: 0px;
}
    
    #about-2nd-bg {
        
        display: flex;
        position: absolute;
        position: relative;
        height: 3600px;
    }
    
      #about-2nd-bg .border {
        
        display: flex;
        position: relative;
        flex-wrap: wrap;
        font-size: 21px;
    }
    
    .about-container img {
        
        display: inline-block;
        position: absolute;
        top: 100px;
        left: -10px;
        z-index: 1;
    }
    
    .about-container .p-about {
        
        position: absolute;
        top: 300px;
        width: 95%;
        left: 5px;
        z-index: 1;
    }
    
    .about-box{
    
    display: inline-block;
    position: relative;
    color: #333;
    height 250px;
    width: 97%;
    max-width: 1500px;
    background-color: #FAD4AA;
    margin: 50px 0px;
    padding: 0px;
    border-radius: 14px;
    box-shadow: 2px 2px 4px 2px rgba(3, 3, 3);
}
    
}





/*-----------END ABOUT MOBILE-----------*/


/*-------------STORE PAGE---------------*/




#store-1st-bg {
    
    background-image: url('shop2.jpg');
    
    background-attachment: scroll;
   
    
}

#store-2nd-bg {
    
    background-color: #282e34;
    overflow: hidden;    
    position: relative;
    min-height: 100%;
    justify-content: center;
    z-index: -1;
}



.store-container {
    
    width: 100%;
    margin: 0px auto;
    columns: 4;
    column-gap: 10px;
    
}

.store-box {
    
    width: 425px;
    padding: 10px;
    background-color: #fff;
    color: #1a1335;
    border: 1px solid grey;
    margin-bottom: 15px;
    break-inside: avoid;
    
}

.store-box img {
    
    width: 90%;
}


.store-item-1:hover, .store-item-2:hover, .store-item-3:hover, .store-item-4:hover, .store-item-5:hover,  .store-item-6:hover,  .store-item-7:hover,  .store-item-8:hover, .store-item-9:hover,  .store-item-10:hover,  .store-item-11:hover,  .store-item-12:hover,  .store-item-13:hover,  .store-item-14:hover,  .store-item-15:hover,  .store-item-16:hover,  .store-item-17:hover,  .store-item-18:hover,  .store-item-19:hover,  .store-item-20:hover {
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.17),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
    background-size: 150%;
    transition: 1s;
    
}


.store-button {
    
        /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
background: rgb(183,222,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */

    
    
    text-align: center;
    font-size: 24px;
    color: white;
    height: 10%;
    width: 90%;
    padding: 15px 10px 15px 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
}

.store-button:hover {
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.17),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}




/*------------STORE MOBILE----------*/



@media (max-width: 568px) {
    
    #store-1st-bg {
    
    background-image: url('shop2small.jpg');
    object-fit: contain;
    background-repeat: repeat;
    overflow: hidden;
    background-attachment: fixed;
    position: relative;
    background-color: #282e34;
    min-height: 75%;
    z-index: -1;
}
    
    .rba {
        
        display: inline-block;
        position: absolute;
        top: -90px;
    }
    
    #store-2nd-bg {
    
    background-color: #282e34;
    overflow: hidden;    
    position: relative;
    top: -20px;
    min-height: 100%;
    justify-content: center;
    z-index: -1;
}
    
    .store-container {
    
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0px auto;
    columns: 4;
    column-gap: 10px;
    
}
    
    .store-box {
    
    width: 100px;
    padding: 10px;
    background-color: #fff;
    color: #1a1335;
    border: 1px solid grey;
    margin-bottom: 15px;
    break-inside: avoid;
    
}
    
    .store-box h2 {
        font-size: 14px;
    }

.store-box img {
    
    width: 100%;
}
    
    .store-button {
    
        /*Copied gradient code to look nice -Cello  /*
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
background: rgb(183,222,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */

    
    
    text-align: center;
    font-size: 24px;
    color: white;
    height: 10%;
    width: 90%;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 15px;
}

}


/*------------END STORE MOBILE----------*/



/*------------MEDIA PAGE----------*/




#media-1st-bg {
    
    background-image: url('screen4.png');
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment:local;
    position: relative;
    background-color: #282e34;
    min-height: 75%;
}

#media-2nd-bg {
    
    background-color: #27173e;
    overflow: hidden;    
    position: relative;
    min-height: 100%;
    z-index: -1;
}

.media-container {
    
    width: 100%;
    margin: 0px auto;
    columns: 4;
    column-gap: 2px;
}

.media-box {
    
    width: 395px;
    height: auto;
    padding: 5px;
    background-color: #f6c377;
    color: #1a1335;
    border: 1px solid grey;
    margin-bottom: 10px;
    break-inside: avoid;
    
}

.media-box iframe {
    
    width: 97%;
    height: 270px;
    object-fit: contain;
    
}

.media-box img {
    
    width: 97%;
    height: 270px;
    object-fit: contain;
    
}

#tourney-3rd-bg-media {
    
    background-color: #151b24;
    min-height: 65%;
    
        
}




/*----------MEDIA MOBILE-----------*/





@media (max-width: 568px) {
    
    #media-1st-bg {
    
    background-image: url('screen4.png');
    background-size: contain;
    z-index: -1;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 170%;
    background-color: #282e34;
    min-height: 105%;
    left: -130px;
}
    
    #media-2nd-bg {
    
    background-color: #27173e;
    overflow: hidden;    
    position: relative;
    min-height: 100%;
    position: relative;
    top: -415px;
    z-index: -1;
}
    
    .border.nth {
        
        position: absolute;
        top: -390px;
        left: 0px;
    }
    
    .media-container {
    
    width: 100%;
    margin: 0px auto;
    columns: 2;
    column-gap: 2px;
}
    
    .media-box {
    
    width: 200px;
    height: auto;
    padding: 5px;
    background-color: #f6c377;
    color: #1a1335;
    border: 1px solid grey;
    margin-bottom: 10px;
    break-inside: avoid;
    
}
    
    #tourney-3rd-bg-media {
    
    position: relative;
    background-color: #151b24;
    height: 109%;
    top: -430px;
            
}
    
    .border.saber {
        
        position: absolute;
        width: 100%;
        font-size: 18px;
        top: 0px;
        left: 0px;
    }
    
    
    #fmedia {
        
        position: absolute;
        top: 2990px;
        left: 35px;
        overflow: hidden;
    }
    
    
}



/*----------END MEDIA MOBILE-----------*/





/*----------VOLUNTEER PAGE-------------*/

#volunteer-back {
    background-image: url('twoguys2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75%;
}

#volunteer-2nd-bg {
    background-color: #282e34;
    overflow: hidden;    
    position: relative;
    min-height: 100%;
    display: flex;
    align-items: center;
    z-index: -1;
}

#volunteer-2nd-bg iframe {
        position: relative;
        display: inline-block;
        left: 150%;
        width: 200%;   
    }


/*----------VOLUNTEER MOBILE-----------*/

@media (max-width: 568px) {
    #volunteer-back {
        background-image: url('twoguys2.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 75%;
    }

    #volunteer-2nd-bg {
        background-color: #282e34;
        overflow: hidden;    
        position: relative;
        min-height: 100%;
        display: flex;
        align-items: center;
        z-index: -1;
    }
    
    #volunteer-2nd-bg iframe {
        position: relative;
        display: inline-block;
        width: 130%;
    }
}





/*--------END VOLUNTEER MOBILE--------*/

/*----------VENDOR PAGE-------------*/




#vendor-back {
    background-image: url('twoguys2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75%;
}

#vendor-2nd-bg {
    background-color: #282e34;
    overflow: hidden;    
    position: relative;
    min-height: 100%;
    display: flex;
    align-items: center;
    z-index: -1;
}

 #vendor-2nd-bg iframe {
        position: relative;
        display: inline-block;
        left: 150%;
        width: 200%;   
    }

/*--------VENDOR MOBILE--------*/

@media (max-width: 568px) {
    #vendor-back {
        background-image: url('seoul2.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 75%;
    }
    
      #vendor-2nd-bg {
        background-color: #282e34;
        overflow: hidden;    
        position: relative;
        min-height: 100%;
        display: flex;
        align-items: center;
        z-index: -1;
    }

    #vendor-2nd-bg iframe {
        position: relative;
        display: inline-block;
        width: 130%;   
    }
}

/*--------END VENDOR MOBILE--------*/








